/* Allgemeines Styling */
:root {
  --font-fml-main: "Orbitron", sans-serif;
  --font-fml-secondary: "Lato", sans-serif;
  --clr-bg: #2c2c2c;
  --clr-score-font: #fdf860;
  --clr-score-bg: #000000;
  --clr-home-primary: #97f5bb;
  --clr-home-primary-hover: #48d57e;
  --clr-away-primary: #525df4;
  --clr-away-primary-hover: #3e47c7;
  --clr-font-primary: #ffffff;
  --clr-alert-empty: rgba(255, 128, 128, 0.651);
}

* {
  font-family: var(--font-fml-main);
  color: var(--clr-font-primary);
  padding: 0;
  margin: 0;
  line-height: 1;
}

body {
  background-color: var(--clr-bg);
}

.scoreboard.is-blurred > *:not(#modal-window) {
  filter: blur(0.15rem);
}

/* Scoreboard Styling */
.headline {
  margin-top: 3rem;
  font-size: 3.5rem;
}

.scoreboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  /* padding: 2rem 0; */
}

.scoreboard-container {
  display: flex;
  gap: 5rem;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.score-headline {
  color: var(--clr-score-font);
  font-size: 7.5rem;
  border-radius: 0.75rem;
  transform: scale(-1);
}

.score-headline-container {
  display: grid;
  place-items: center;
  padding: 1rem;
  width: 20rem;
  height: 20rem;
  background-color: var(--clr-score-bg);
  border-radius: 1.5rem;
}

/* Border around Score Styling */
.border {
  padding: 1.75rem;
  transform: scale(-1);
  border-radius: 1.5rem;
}

.home-container .border {
  border: 0.25rem solid var(--clr-home-primary);
}
.away-container .border {
  border: 0.25rem solid var(--clr-away-primary);
}

/* Fieldset Legend Styling */
.border-legend {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 0.75rem;
  transform: rotate(180deg);
}

/* Allgemeines Styling der Add-Buttons */

.addBtn {
  font-family: var(--font-fml-secondary);
  font-size: 1.75rem;
  padding: 1rem;
  border-style: none;
  border-radius: 0.5rem;
}

.home-container .addBtn {
  background-color: var(--clr-home-primary);
}
.home-container .addBtn:hover {
  background-color: var(--clr-home-primary-hover);
}
.away-container .addBtn {
  background-color: var(--clr-away-primary);
}
.away-container .addBtn:hover {
  background-color: var(--clr-away-primary-hover);
}

/* Config Styling */
.btn-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.configBtn {
  padding: 1rem 3rem;
  font-family: var(--font-fml-secondary);
  color: var(--clr-bg);
  background-color: var(--clr-font-primary);
  border-style: none;
  border-radius: 0.5rem;
  width: 14rem;
  font-size: 1rem;
}

.configBtn:hover {
  background-color: var(--clr-score-font);
}

.setTeams-container input {
  color: var(--clr-score-bg);
}

/* Modal for Team Settings Styling */

.modalSetTeams {
  position: absolute;
  top: 35%;
  padding: 1.25rem 3rem;
  background-color: var(--clr-font-primary);
  display: grid;
  place-items: center;
  border-radius: 0.75rem;
  display: none;
}
.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.team-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.team-container * {
  color: var(--clr-score-bg);
}

.team-container input {
  height: 2rem;
  width: 100%;
}

.team-container label {
  padding-bottom: 0.2rem;
}

.modal-btn-container button {
  color: var(--clr-font-primary);
  padding: 0.5rem 1rem;
  background-color: var(--clr-bg);
  border: 0.05rem solid var(--clr-bg);
  border-radius: 0.75rem;
}

.modal-btn-container button:hover {
  background-color: var(--clr-score-font);
  color: var(--clr-bg);
}

button {
  cursor: pointer;
}

@media screen and (max-width: 1420px) {
  .score-headline-container {
    width: 14rem;
    height: 12rem;
  }
  .score-headline {
    font-size: 4rem;
  }
  .score-container {
    gap: 2rem;
  }
  .headline {
    margin-top: 2rem;
    font-size: 3rem;
  }
  .scoreboard-container {
    gap: 3rem;
  }
  .scoreboard {
    gap: 2rem;
  }
  .btn-container {
    display: flex;
    flex-direction: row;
  }
}
